#container_head
{
    text-align: center;
    font-family: Calibri;
    font-size: 180%;
    padding-top : 15px;
}
#container_body
{
    margin: 0 auto;
    font-family: Centaur;
    padding-top: 10px;
}

#navigation_bar
{
    margin: 0px 0px 0px 0px;
    font-family: Centaur;
    background-color: #00387f;
    position: fixed;
    bottom: 2px;
    width: 100%;
}
td a
{   display: block;
    color: white;
    text-align: center;
    font-size: 70%;
    padding: 8px 5px;
    text-decoration: none;
}
td a:hover {
    background-color: #00255b;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin : 0 auto;
    padding: 5px 5px;

}
label
{
    padding: 3px;
}
select
{
    padding:2px 3px;
    border-radius: 3px;
    text-align-last: center;
}
#name
{
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 15px;
    width: 130px;
}
#save_img
{
    float: right;
    margin: 0px 15px 10px auto;
    width: 20px;
    padding-bottom: 10px;

}
.inform
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.radio
{
    width: 14px;
    height: 14px;
    background-color: #bcbcbc;
    border-radius: 7px;
    cursor: pointer;

}
.btn
{
    border-radius: 5px;
    background-color: #c80050;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin : 30px 15px 30px auto;
    cursor: pointer;
}
.abeek
{
    padding-left: 15px;
    margin : 20px 15px 20px auto;
}
#personal_inform
{
    padding-top: 30px;
}
input
{
    text-align: left;
}