.blank
{
    border: 1px solid gray;
    /*width: 20%;*/
    text-align: center;
    font-family: Arial;
}
th{
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
    border : 1px solid gray;
    width: 100%;
    height: 100%;
    margin : 0 auto;

}
.block0{
    background-color: rgba(181, 181, 181, 0.31);

}
.blank
{
    width: 19%;
}
.blank1
{
    width : 5%
}
#Container_body
{
    margin: 0 auto;
}

#title{
    text-align: left;
    font-family: Calibri;
    font-size: 130%;
}
#snd_title{
    text-align: left;
    font-family: Candara;
    font-size: 70%;
}
#navigation_bar
{
    margin : 0 auto;
    font-family: Centaur;
    background-color: #00387f;
}
td a
{   display: block;
    color: white;
    text-align: center;
    font-size: 70%;
    padding: 8px 5px;
    text-decoration: none;
    border : none;
}
td a:hover {
    background-color: #00255b;
}
