body
{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    line-height: normal;
}
#container_body
{
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
#required_subject,#null_time
{
    width: 100%;
    background-color: #00387f;
    color: white;
    font-size: 45px;
    padding: 2% 0 2% 0;
    margin: 4% 0 4% 0;
    border-radius: 10px;
    font-weight: 500;
}
#research_header
{
    height: 70px;
    margin-bottom: 2%;
}
#research_subject
{
    float: left;
    background-color: #00387f;
    color: white;
    font-size: 30px;
    padding: 2% 5% 2% 5%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#searching
{
    float: left;
    font-size: 30px;
    padding: 2% 2% 2% 2%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#add_button
{
    float: right;
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
    background: #00387f;
    color: white;
    font-size: 30px;
    height: 70px;
    width: calc(15% - 30px);

}
#subject
{
    border: 1px solid gray;
    height: 300px;
    width: 100%;
    margin: 4% 0 4% 0;
}
.subject
{
    text-align: left;
    padding: 7px 5% 7px 5%;
    height: 45px;
    width: 90%;
    font-size: 30px;
}
table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;
}
#week
{
    background: lightgray;
}
.blank
{
    width: 20%;
    border: 1px solid gray;
}
#num,#min_num,#max_num,#bar
{
    height: 50px;
    font-size: 35px;

}
#num
{
   float: left;
   padding: 13px 15px 13px 15px;
   font-weight: 900;
   font-size: 40px;
}
#max_num,#min_num
{
    padding: 10px 15px 10px 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid gray;
}
#min_num
{
    margin-left: -20%;
}
#bar
{
    display: inline-block;
}
#container_footer
{
    margin-left: 0;
    font-family: Centaur;
    background-color: white;
    position: fixed;
    bottom: 6%;
    right : 0%;
    float: right;
    width: 100%;
    font-size: 30px;
}
hr
{
    margin: 0 auto;
}
#button
{
    float: right;
    text-align: right;
    margin-right: 5%;
    margin-top: 2%;
    font-size: 30px;
    padding: 10px 29px 10px 29px;
    height: 52px;
}
#navigation_bar
{
    margin-left: 0;
    font-family: Centaur;
    background-color: #00387f;
    position: fixed;
    bottom: 0px;
    left : 0px;
    width: 100%;
    font-size: 30px;
}

#navigation_bar td
{
    height: 80px;
    width: calc(19% - 30px);
}
td a
{   display: block;
    color: white;
    text-align: center;
    padding: 20px 5px 20px 5px;
    text-decoration: none;
    margin: 0;
}
td a:hover {
    background-color: #00255b;
}
#navigation_bar table{
    width: 100%;
    border-collapse: collapse;
}