body
{
    width: 90%;
    margin: auto;
    text-align: center;
    line-height: normal;
}
#title
{
    font-size: 100px;
    height : 150px;
    margin: 20% 0px 50% 0px;
    font-weight: 900;
}
#container_body
{

}
#id,#password
{
    height: 140px;
    margin: 10px 0px 40px 0px;
}
#id_input,#password_input
 {
     height: 90px;
     border: 1px solid gray;
    margin-left: -4px;
    font-size: 60px;
    padding: 20px 30px 20px 30px;
 }
#img_id,#img_password
{
    border: 1px solid gray;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: -32px;
}
#button
{
    background-color: #00387f;
    width: 95%;
    height: 130px;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 5%;
}
input#stay_login {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    background: #00387f;
    border-radius: 15px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
input[type=checkbox]:active
{
    background: blue;
}
label#login_tag
{
    font-size: 40px;
    padding: 10px 15px 10px 15px;
}