html, body {
    width: 100%; height: 100%;
}

form {
    width: 100%; height: 100%;
}

#login_shell
{
    width: 100%; height: 100%;
    margin : 0 auto;
}
#Container_Header
{
    height: 50%;
    text-align : center;
    font-size : 200%;
    padding-top: 80px;
}
.login_img
{
    width: 35px;
    margin : 0 auto;
    vertical-align: middle;
    border-radius: 3px;
    border-color: gray;
}
.input
{
    width : 150px;
    height : 30px;
    margin : auto;
    border-radius: 5px;
}
.input_box
{
    width: auto;
    /*height: 10%;*/
    /*display: inline-block;*/
    /*margin: 0 auto;*/
    text-align: center;

}
/*.center {*/
/*display: inline;*/
/*margin: 0 auto;*/
/*}*/
.btn
{
    font-family: Consolas;
    background-color: #dcdcdc;
    border-radius: 3px;
    width: 70px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
}
.login_auto
{
    font-size: 12px;
    margin : auto;
    width: 80px;

}
.check
{
    width: 12px;
    height: 12px;
    margin: 0px;
}
#Container_body
{
    position: relative;
    /*bottom: 10px;*/
    /*top : 200px;*/
    margin : 0 auto;
}