html,body
{
    margin : 0;
    height: 100%;
}
#title{
    padding-top : 50px;
    padding-bottom: 10px;
}
#container_head
{
    text-align: center;
    font-family: Calibri;
    font-size: 200%;
    padding-top : 0px;
}
#container_body
{
    margin: 0 auto;
    font-family: Centaur;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 75%;
}

#navigation_bar
{
    margin-left: 0;
    font-family: Centaur;
    background-color: #00387f;
    position: fixed;
    bottom: 0px;
    left : 0px;
    width: 100%;
}
td a
{   display: block;
    color: white;
    text-align: center;
    font-size: 70%;
    padding: 8px 5px;
    text-decoration: none;
}
td a:hover {
    background-color: #00255b;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin : 0 auto;
    padding: 5px 5px;

}
.save_img
 {
     width: 30px;
 }
#save_img
{
    float: right;
    margin-right: 30px;
    width: 30px;
    background-color: white;
    border: none;
    padding-right: 0px;
}
.radio
{
    width: 14px;
    height: 14px;
    background-color: #bcbcbc;
    border-radius: 7px;
    cursor: pointer;

}
.btn
{
    font-size: 20px;
    border-radius: 5px;
    background-color: #c80050;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    margin : 30px 15px 30px auto;
    cursor: pointer;
}
.abeek
{
    padding-left: 15px;
    margin : 20px 15px 20px auto;
    font-size: 20px;
}
#personal_inform
{
    padding-top: 30px;
}
.label
{
    background-color: #00387f;
    color : white;
    padding : 6px 8px 6px 8px;
    margin-top: 5px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 120%;
}
.form{
    border: 1px solid grey;
    display: inline-block;
    border-radius: 5px;
    padding-bottom: 5px;
    margin : 30px 0px 20px 20px;
}
#name
{
    width: 260px;
}
#major
{
    width: 260px;
}
#grade
{
    width: 110px;
    margin-right: 5px;
}
#semester
{
    width: 140px;
    margin-left: 0px;
}