body
{
    width: 100%;
    text-align: center;
    line-height: normal;
    margin: 0 auto;
}
#container_header
{
    font-weight: 900;
    font-size: 70px;
    width: 100%;
    padding-top: 5%;
    position: fixed;
    top:0;
    background-color: white;
    height: 8%;
}
#container_body
{
    width: 100%;
    margin-top: 20%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td
{
    border: 1px solid gray;
}
th
{
    width: calc(5% - 30px);
}
td,.day,.blank
{
    width: calc(19% - 30px);
    height: 120px;
}
.blank0
{
    width: 3%;
    font-size: 25px;
}
#mon,#tue,#wed,#thur,#fri
{
    height: 60px;
    width: calc(18% - 30px);
}
#week
{
    background: #00387f;
    color: white;
    font-size: 40px;
}
#navigation_bar
{
    margin-left: 0;
    font-family: Centaur;
    background-color: #00387f;
    position: fixed;
    bottom: 0px;
    left : 0px;
    width: 100%;
    font-size: 30px;
}
#navigation_bar td
{
    height: 80px;
    border: none;
}
td a
{   display: block;
    color: white;
    text-align: center;
    padding: 20px 5px 20px 5px;
    text-decoration: none;
    margin: 0;
}
td a:hover {
    background-color: #00255b;
}