#container_header
{
    font-weight: 900;
    font-size: 70px;
    width: 100%;
    padding-top: 5%;
    height: 8%;
}
#container_body
{
    width: 100%;
}
body
{
    width: 100%;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: 40px;
}
div.mdl-grid
{
    margin: 5% 0 8% 5%;
}
#grade,#semester
{
    font-size: 30px;
    text-align: center;
    padding: 5px 20px 5px 20px;
}
#name_tag,#major_tag,#grade_tag,#semester_tag
{
    background-color: #00387f;
    border: 1px solid #00387f;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 5px 10px 5px;
}
#name,#major,#grade,#semester
{
    border: 1px solid #00387f;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 5px 10px 5px;
}
#grade
{
    margin-right: 2%;
}
#공학인증
{
    background-color: #00387f;
    border: 1px solid #00387f;
    color: white;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
}
#select_tag,#no_select_tag
{
    padding: 10px 5px 10px 5px;
}
#select,#no_select
{
    margin-top: 20px;
}
input[type=radio]
{
    width: 40px;
    height: 40px;
}
#button
{
    font-size: 40px;
    background-color: #ba000c;
    height: 80px;
    border-radius: 10px;
}