body
{
    width: 100%;
    text-align: center;
    line-height: normal;
    margin: 0 auto;
}
#container_header
{
    font-weight: 900;
    font-size: 70px;
    width: 100%;
    padding-top: 5%;
    position: fixed;
    top:0;
    background-color: white;
    height: 8%;
}
#container_body
{
    width: 100%;
    margin-top: 20%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td
{
    border: 1px solid gray;
    height: 100px;
    cell-padding: 10px 15px 10px 15px;
    font-size: 30px;
}
#grade,#major,#subject,#prof,#time
{
    height: 60px;
    width: calc(18% - 30px);
}
#grade
{
    width: 10%;
}
#major
{
    width: 20%;
}
#subject
{
    width: 35%;
}
#prof
{
    width: 15%;
}
#time
{
    width: 20%;
}
#inform
{
    background: #00387f;
    color: white;
    font-size: 40px;
}
#navigation_bar
{
    margin-left: 0;
    font-family: Centaur;
    background-color: #00387f;
    position: fixed;
    bottom: 0px;
    left : 0px;
    width: 100%;
    font-size: 30px;
}
#navigation_bar td
{
    height: 80px;
    border: none;
}
td a
{   display: block;
    color: white;
    text-align: center;
    padding: 20px 5px 20px 5px;
    text-decoration: none;
    margin: 0;
}
td a:hover {
    background-color: #00255b;
}