html,body
{
    margin : 0 auto;
    height: 100%;
}
.blank
{
    border: 1px solid gray;
    max-height: 35px;
    min-height: 25px;
    text-align: center;
    font-family: Arial;
}
table {
    border-collapse: collapse;
    border : 1px solid gray;
    width: 100%;
    margin : 0 auto;
    padding : 5px;

}
.block0{
    background-color: rgba(181, 181, 181, 0.31);

}
.blank0
{
    max-height: 32px;
}
#table-bordered
{
    height: 70%;
}
#Container_body
{
    margin: 0 auto;
}
#Container_Header
{
    position: fixed;
    top: 0px;
}
#title{
    text-align: center;
    font-family: Calibri;
    font-size: 200%;
    padding-top : 50px;
    padding-bottom: 10px;
}

#navigation_bar
{
    margin: 0px 0px 0px 0px;
    font-family: Centaur;
    background-color: #00387f;
    position: fixed;
    bottom: 2px;
    width: 100%;
    border: none;
}
td a
{   display: block;
    color: white;
    text-align: center;
    font-size: 70%;
    padding: 8px 5px;
    text-decoration: none;
}
td a:hover {
    background-color: #00255b;
}