body
{
    background-color: #f5f6f7;
    font-size: 30px;
}

#container_header
{
    padding: 62px 0px 62px;
    text-align: center;
    margin: 0 auto;
}
img
{
    width: 32%;
}

#container_body
{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: '돋움',Dotum, Helvetica,sans-serif;
    width: 80%;
}
.mdl-textfield.mdl-js-textfield
{
    border-top: solid 1px #f0f0f0;
    display : inline-block;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0;
}
.mdl-textfield__input
{
    margin: 0 auto;
    position: relative;
    width: 95%;
    border: none;
    font-size: 30px;
    padding: 15px 10px 15px 10px;
    /*font-weight: bold;*/
}
.error {
    padding: 3px 0px 3px 20px;
    color: #f00;
    text-align: left;
    font-size: 20px;
    display: inline;
}
div.input
{
    display: inline-block;
    margin: 10px 0px;
    border: solid 1px #dadada;
    width: 100%;
    background-color: white;
}


input[data-toggle] {
    display: none; }

input:checked + label
{
    border: solid 1px #2eaa08;
    margin: -3px;
    color: #2eaa08;
    width: 45%;
}

label
{
    display: inline-block;
    width: 45%;
    padding: 20px 2px 20px 2px;
    border: solid 1px #f0f0f0;;
    text-align: center;
    text-decoration: none;
    color: #a5a5a5;
    margin: 10px -5px 10px -5px;
}
.button-group.round.toggle
{
    padding: 10px;
    background-color: white;
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
}
.inform,#birth
{
    background-color: white;
    border: none;
    float: left;
    padding: 6px 0px 6px 0px;
}
select,#year,#day
{
    border: none;
    width: 90%;
    font-size: 30px;
}
.int
{
    position: relative;
    width: 90%;
}
#birth
{
    background-color: #f5f6f7;
    display: inline-block;
    width: 15%;
    padding: 18px 0px 18px 0px ;
}
#year0
{
    width: 25%;
    padding-top: 10px;
}
#mon
{
    width: 30%;
    padding: 7px 0px 7px 0px;
}
#day0
{
    width: 30%;
    padding-top: 10px;
}
.check
{
    background-color: white;
    border: none;
    float: left;
    padding: 20px 0px 20px 0px;
    display: inline-block;
    margin: 0px;
}
#country_num
{
    width: 25%;
    padding: 27px 0px 27px 0px;
}
#cell_phone_num0
{
    width: 45%;
    padding: 27px 0px 27px 0px;
}
#checking
{
    width: 30%;
}
select.country
{
    font-size: 25px;
    padding: 2px 10px 2px 10px;
    width: 80%;
}
.mdl-button.mdl-js-button
{
    border: solid 1px #f0f0f0 ;
    font-size: 30px;
    background-color: white;
    padding: 10px 16px 10px 16px;
    height: 58px;
}
#cell_phone_num
{
    font-size: 30px;
    height: 30px;
    border: none;
    width: 90%;
}

#check_num0
{
    width: 70%;
    margin-left: 0px;
    border-top: solid 1px #f0f0f0;
    padding: 27px 0px 0px 0px;
}
#check_num
{
    border: none;
    width: 80%;
    padding: 2px 7px 2px 7px;
    font-size: 30px;
}
#check_btn
{
    width: 30%;
    border-top: solid 1px #f0f0f0;
}
#sign_in
{
    width: 100%;
    height: 40px;
}
input:-moz-submit-invalid
{
    background-color: #a2ff81;
}
.sign_up
{
    width: 100%;
    //height: 50px;
    font-size: 45px;
    padding: 10px 2px 10px 2px;
    background-color: #2eaa08 ;
    color: white;
    border: none;
    margin-top: 30px;
}